.tool-tip {
    background-color:rgba(0,0,0,0.7);
    text-align:left;
    color:#F79A2A;
    border-radius:10px;
    height:100px;
    width:350px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Ubuntu;
}

.next-button {
    background-color:#24a85d;
    color:#fff;
    border:0;
    border-radius: 4px;
    padding:20px 50px;
    font-weight:700;
    font-weight:700;
    cursor:pointer;
    outline:0;
    position:relative;
}

.next-button:active {
    background-color: #12542f;
    top:5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    width:50%;
    display: flex;
    justify-content: space-between;
}

.image-container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.comparisonBarGroup {
    margin-top:50px;
}
